@font-face {
    font-family: "Roboto";
    src: url(../plugins/google-fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto Slab";
    src: url(../plugins/google-fonts/Roboto_Slab/RobotoSlab-Regular.ttf) format("truetype");
}
